@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


/* Custom green scrollbar */
.scrollbar-green::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-green::-webkit-scrollbar-track {
  background: #f0fdf4; /* light green background */
  border-radius: 8px;
}

.scrollbar-green::-webkit-scrollbar-thumb {
  background-color: #6BDE23; /* Tailwind green-500 */
  border-radius: 8px;
}

.scrollbar-green::-webkit-scrollbar-thumb:hover {
  background-color: #6BDE23; /* Tailwind green-600 */
}


/* globals.css or your stylesheet */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}