@import "tailwindcss";

 
.swiper-pagination-bullet {
  background-color: gray !important;  
}

/* Active dot */
.swiper-pagination-bullet-active {
  background-color: #9AE144 !important; 
}

.swiper-button-prev,
.swiper-button-next {
  color: black; /* or any contrasting color */
  top: 45%; /* vertically center */
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 10;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #f0f0f0;
}

/* Hide scrollbar for mobile smooth scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



/* styles.css or global.css */
 
.button{
  text-decoration: none !important;
  
}

/* globals.css */

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}


.font-dm-sans {
  font-family: var(--font-dm-sans), sans-serif;
}
